@import '../utils/variables';
@import '../utils/media';
@import '../utils/keyframes';

.primaryTitle {
  line-height: .9;
  & span {
    color: $primary-color;
    position: relative;
    &::before {
      animation-duration: 6s;
      animation-iteration-count: infinite;
      background-clip: text;
      position: absolute;
      -webkit-text-fill-color: transparent;
      height: 100%;
    }
  }
}

.firstLetter{
  letter-spacing: 1px;
  &::before {
    content: 'Digital';
    animation-name: a;
    background: linear-gradient(75deg,#6010c9,#d228de 80%);
    letter-spacing: 1px;
  }
}

.secondLetter::before {
  content: 'Marketing';
  animation-name: b;
  background: linear-gradient(75deg,#0da9c1,#4f21e6 80%);
}

.tirdLetter::before {
  content: 'Services';
  animation-name: c;
  background: linear-gradient(75deg,#FF4969,#FC9D44 80%);
}

.imageWrap {
  position: relative;
}

.objOne {
  animation: movedelement 10s linear infinite;
  position: absolute;

  width: 14%;
  top: 33%;
  left: 0;

}

.objTwo {
  animation: movedelement3 10s linear infinite;
  position: absolute;

  width: 14%;
  top: 15%;
  left: 9%;
}

.objThree {
  animation: movedelement2 10s linear infinite;
  position: absolute;

  width:15%;
  top: 3%;
  left: 30%;
}

.objFour {
  animation: movedelement 10s linear infinite;
  position: absolute;

  width: 15%;
  top: 2%;
  right: 35%;
}

.objFive {
  animation: movedelement2 10s linear infinite;
  position: absolute;

  width: 17%;
  top: 15%;
  right: 10%;
}

.objSix {
  animation: movedelement3 10s linear infinite;
  position: absolute;

  width: 23%;
  top: 33%;
  right: 1%;
}